.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    background: none;
    border: none;
    margin: 0;
    outline: none;
    color: var(--primary-color);
    font: var(--font-m);
}

.outline {
    padding: 15px;
    border: 1px solid var(--primary-color);
    font: var(--font-m);
    color: var(--primary-color);
    background: none;
}
