.app_light_theme{
    --bg-color: #d7d7d7;
    --inverted-bg-color: #020e1a;
    --primary-color: #0655d5;
    --secondary-color: #020e1a;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #17dc3f;
}
