.ProfileCard {
    padding: 10px;
    border: 2px solid var(--primary-color);
}

.header {
    display: flex;
}

.data {
    margin-top: 10px;
}

.input {
    margin-top: 10px;
}

.editBtn {
    margin-left: auto;
}
